services:
  portainer:
    image: portainer/portainer-ce

  maindb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  filesdb:
    image: postgres:15

  logsdb:
    image: mongo

  main.api:
    image: ${DOCKER_REGISTRY-}mainapi
    build:
      context: .
      dockerfile: src/Services/Main/Main.Api/Dockerfile

  files.api:
    image: ${DOCKER_REGISTRY-}filesapi
    build:
      context: .
      dockerfile: src/Services/Files/Files.Api/Dockerfile

  logs.api:
    image: ${DOCKER_REGISTRY-}logsapi
    build:
      context: .
      dockerfile: src/Services/Logs/Logs.Api/Dockerfile

  logs.grpc:
    image: ${DOCKER_REGISTRY-}logsgrpc
    build:
      context: .
      dockerfile: src/Services/Logs/Logs.Grpc2/Logs.Grpc/Dockerfile

volumes:
  maindb_data:
  mongo_data:
  portainer_data:
  postgres_data:
  pgadmin_data:
