services:
  main.api:
    image: ${DOCKER_REGISTRY-}mainapi
    build:
      context: .
      dockerfile: src/Services/Main/Main.Api/Dockerfile

  maindb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  # files.api:
  #   image: ${DOCKER_REGISTRY-}filesapi
  #   build:
  #     context: .
  #     dockerfile: src/Services/Files/Files.Api/Dockerfile

  # logs.api:
  #   image: ${DOCKER_REGISTRY-}logsapi
  #   build:
  #     context: .
  #     dockerfile: src/Services/Logs/Logs.Api/Dockerfile


# volumes:
#   mongo_data:
#   portainer_data:
#   postgres_data:
#   pgadmin_data: